<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    






<div  class="work-list" class="container">
                    <div class="work">
                        <img src="./images/WSEB7291.PNG">
                        <div class="layer">
                            <h3>Food Web App</h3>
                            <p>The App connect you to people around the world.
                                Download it from playstore</p>
                            <a href="#"><i class="fas fa-external-link-alt"></i> </a>
                        </div>
                    </div>

                    <div class="work">
                        <img src="./images/WSEB7291.PNG">
                        <div class="layer">
                            <h3>Food Web App</h3>
                            <p>The App connect you to people around the world.
                                Download it from playstore</p>
                            <a href="#"><i class="fas fa-external-link-alt"></i> </a>
                        </div>
                    </div>

                    <div class="work">
                        <img src="./images/WSEB7291.PNG">
                        <div class="layer">
                            <h3>Food Web App</h3>
                            <p>The App connect you to people around the world.
                                Download it from playstore</p>
                            <a href="#"><i class="fas fa-external-link-alt"></i> </a>
                        </div>
                    </div>

                    <div class="work">
                        <img src="./images/WSEB7291.PNG">
                        <div class="layer">
                            <h3>Food Web App</h3>
                            <p>The App connect you to people around the world.
                                Download it from playstore</p>
                            <a href="#"><i class="fas fa-external-link-alt"></i> </a>
                        </div>
                    </div>

                </div>
                </div>
 <a href="/"><p class="btn"><i class="fa-solid fa-backward"></i></p></a>
                </body>
</html>
